body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
* {
  box-sizing: border-box;
}
strong {
  font-weight: 500;
}

body {
  background: #fff;
  color: #212121;
  font: 14px 'Roboto', sans-serif;
  letter-spacing: 1px;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-weight: 500;
  font-size: 1.4em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

}

.icon {
  height: 18px;
  width: auto;
}

.btn {
  background: #5541f3;
  border: none;
  color: #fff;
  font: 14px 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em 2em;
  margin: 1em;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ccc;
}

.btn:hover {
  opacity: 0.9;
}

.reset {
  background: #666;
}

.grid {
  cursor: pointer;
  width: 600px;
  height: 600px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-item {
  background: #ccc;
  border: 1px solid #fff;
  float: left;
}
